<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer"
     connectionString="Data Source=127.0.0.1;Initial Catalog=umang12;User ID=umang12;PWD=rTfqD6Gw;Persist Security Info=True"
     providerName="System.Data.SqlClient" />
    <add name="umang12CS"
     connectionString="Data Source=127.0.0.1;Initial Catalog=umang12;UID=umang12;PWD=rTfqD6Gw;Persist Security Info=True"
     providerName="System.Data.SqlClient" />
    <add name="pubsCS"
     connectionString="Data Source=127.0.0.1;Initial Catalog=pubs;UID=umang12;PWD=rTfqD6Gw;Persist Security Info=True"
     providerName="System.Data.SqlClient" />
    <add name="NorthwindCS"
     connectionString="Data Source=127.0.0.1;Initial Catalog=Northwind;UID=umang12;PWD=rTfqD6Gw;Persist Security Info=True"
     providerName="System.Data.SqlClient" />
    <add name="AdventureWorksCS"
     connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorks;UID=umang12;PWD=rTfqD6Gw;Persist Security Info=True"
     providerName="System.Data.SqlClient" />
    <add name="AdventureWorksDWCS"
     connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorksDW;UID=umang12;PWD=rTfqD6Gw;Persist Security Info=True"
     providerName="System.Data.SqlClient" />
</connectionStrings>