
.container {
   
	width:90%;
	margin:50px auto;
    color:white;
    font-family:Tahoma;
}

.list {
	float:left;
	width:100px;
	margin:0 20px 0 0;
	height:400px;
}

.item {
	width:100px;
	height:100px;
	background:red;
	border:1px solid #424242;
	color:#fff;
	font-weight:bold;
	text-align:center;
	line-height:100px;
	cursor:pointer;
}

.item2 {
	background:blue;
}

.item3 {
	background:green;
}

.list .item {
	margin:0 0 10px 0;
}

.timeline {
	width:700px;
	height:100px;
	background:#ccc;
	border:1px solid #424242;
	float:left;
}
