.wrapper{
position: absolute;
top: 300px;
left:500px;
} 
#cube{
position: relative;
margin: 0px auto;
-webkit-transform-style:Preserve-3d;
height: 200px;
width: 200px;
-webkit-animation-name:rotation;
-webkit-animation: rotation 20s infinite linear;
}
#cube .face{
position: absolute;
height: 200px;
width: 200px;
margin: 0px auto;
border-radius: 5px;
border: 2px solid black;
opacity: 0.9;
}
#cube .front{
background:white url("../../images/Back1.jpg") center center no-repeat;
-webkit-transform:translateZ(100px);
}
#cube .back{
background:white url("../../images/Back2.jpg") center center no-repeat;
-webkit-transform:rotateY(180deg) translateZ(100px);
}
#cube .top{
background:white url("../../images/back 3.jpg") center center no-repeat;
-webkit-transform:rotateX(90deg) translateZ(100px);
}
#cube .bottom{
background:white url("../../images/back 4.jpg") center center no-repeat;
-webkit-transform:rotateX(-90deg) translateZ(100px);
}
#cube .right{
background:white url("../../images/back 6.jpg") center center no-repeat;
-webkit-transform:rotateY(90deg) translateZ(100px);
}
#cube .left{
background:white url("../../images/Back1.jpg") center center no-repeat;
-webkit-transform:rotateY(-90deg) translateZ(100px);
}
@-webkit-keyframes rotation {
to {
-webkit-transform:rotateX(-390deg) rotateY(-390deg);
}
}